@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide {
    -ms-overflow-style: none !important;
    scrollbar-width: none !important;
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none !important;
  }
  
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes slide-in {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes bounce-slow {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px);
    }
  }
  
  .animate-fade-in {
    animation: fade-in 0.8s ease-out;
  }
  
  .animate-slide-in {
    animation: slide-in 0.5s ease-out;
  }
  
  .animate-bounce-slow {
    animation: bounce-slow 2s infinite;
  }
  
  
  .quill-editor .ql-container {
    border-radius: 8px; 
    border: 2px solid #ccc; 
    height: 200px;
  }
  
  .preview-container {
    border-radius: 8px; 
    overflow: hidden; 
  }
  
  
  @keyframes fadeInUp {
    0% {
      transform: translateY(20px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }